body {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  font-family: 'Nunito', sans-serif;
}

.landing {
  text-align: center;
  margin-top: 20vh;
}

.landing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  font-size: 36px;
}

.cdlprep {
  font-weight: 900;
  font-family: 'Pacifico', cursive;
}

nav {
  width: 80vw;
}

main {
  width: 80vw;
  background-color: white;
}

.school {
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 5vw;
  margin-bottom: 5vw;
}

.school-container {
  display: flex;
  justify-content: center;
}

#input {
  border-bottom: 2px solid black;
  width: 30vw;
}

#nav-link {
  color: white;
}
