body {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

p {
  font-family: 'Nunito', sans-serif;
}

.landing {
  text-align: center;
  margin-top: 20vh;
}

.landing-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  font-size: 36px;
}

.cdlprep {
  font-weight: 900;
  font-family: 'Pacifico', cursive;
  font-size: 48px;
}

nav {
  width: 20%;
  background-color: white;
  height: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

main {
  width: 60vw;
  background-color: white;
}

.school {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5vw;
}

.nav-link {
  text-align: center;
  width: 60%;

  margin: 0 auto;
  padding: 20px;
}

.nav-sign-out,
.nav-header {
  border-bottom: 0px;
}

#input {
  border-bottom: 2px solid black;
  width: 30vw;
}

#navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.nav-line {
  border-bottom: 2px solid black;
  width: 60%;
}

#sign-out-btn {
  white-space: nowrap;
}
