body {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.landing {
  text-align: center;
  margin-top: 30vh;
}

nav {
  width: 20vw;
  background-color: white;
  height: 40vw;
}

main {
  width: 60vw;
  background-color: white;
}

.school {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vw;
}

.nav-link {
  text-align: center;
  width: 60%;
  border-bottom: 2px solid black;
  margin: 0 auto;
  padding: 20px;
}
